 * {
    margin: 0;
    padding: 0;
 }

 header {
   background-color: aquamarine;
   padding: 5px 35px 5px 35px;
   margin: 25px;
   width: 500px;
 }

 .nav-bar li {
    display: inline;
    color: brown;
    text-decoration: none;
 }